.vscode/**
src/**
scripts/**
samples/**
out/**
out-test/**
node_modules/**
.github/**
.gitignore
docs-internal/**
.cursor/**
esbuild.js
tsconfig*.json
.eslintrc.json
**/*.map
**/*.ts
media/readme-tree-preview.*
CHANGELOG.md
ROADMAP.md
CONTRIBUTING.md
config/**
